:root {
    --black-color: rgb(21, 21, 21);
    --logoblack-color: rgb(0, 0, 0);
    --gray-color: rgb(117, 117, 117);
    --blue-color: rgb(33, 150, 243);
    --white-color: rgb(255, 255, 255);
    --white-button-color: rgb(245, 244, 250);
    --graybackground-color: rgb(47, 48, 58);
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--black-color);
}


.header-nav a {
    color: var(--black-color);
}

.header-contact {
    color: var(--gray-color);
}

.header a,
.footer a {
    text-decoration: none;
}

a.active,
a:hover {
    color: var(--blue-color);
}

.main-filtr-buttons, .main-start-page-section1-button {
    color: var(--black-color);
    background-color: var(--white-button-color);
    border: none;
    cursor: pointer;
}

.main-filtr-buttons:hover {
    color: var(--white-color);
    background-color: var(--blue-color);
}

button:focus,
a:focus {
    color: var(--white-color);
    background-color: var(--blue-color);
}

.header-logo-blue {
    color: var(--blue-color);
}

.footer-logo-blue {
    color: var(--blue-color);
}

.header-logo-black {
    color: var(--logoblack-color);
}

.footer-logo-white {
    color: var(--white-color);
}

.logo {
    font-size: 26px;
    letter-spacing: 0.03em;
    line-height: 1.19em;
    font-family: 'Raleway';
}

.main-filtr-button {
    font-size: 16px;
    line-height: 1.63em;
    letter-spacing: 0.03em;
}

.main-filtr-list-title {
    font-size: 18px;
    line-height: 2em;
    letter-spacing: 0.06em;
}

.main-filtr-list-type {
    color: var(--gray-color);
    font-size: 16px;
    line-height: 1.88em;
    letter-spacing: 0.03em;
}

.footer {
    background-color: var(--graybackground-color);
}

.footer-contact {
    color: var(--white-color);
}

.footer-contact a {
    color: var(--white-color);
    opacity: 0.6;
}

.footer-contact a:hover {
    color: var(--blue-color);
}

.main-start-page-section1 {
    background-color: var(--graybackground-color);
}

.main-start-page-section1-title {
    color: var(--white-color);
    font-size: 44px;
    line-height: 1.36em;
    letter-spacing: 0.06em;
}

.main-start-page-section1-button {
    font-size: 16px;
    line-height: 1.88em;
    letter-spacing: 0.06em;
    color: var(--white-color);
    background-color: var(--blue-color);
}

.main-start-page-section2-lorem-title {
    font-size: 14px;
    line-height: 1.14em;
    letter-spacing: 0.03em;
}

.main-start-page-section2-lorem-description {
    font-size: 14px;
    line-height: 1.71em;
    letter-spacing: 0.03em;
    color: var(--gray-color);
}

.main-start-page-section3-img-title {
    font-size: 36px;
    line-height: 1.17em;
    letter-spacing: 0.03em;
}

.main-start-page-section4-team-name {
    font-size: 36px;
    line-height: 1.17em;
    letter-spacing: 0.03em;
}

.main-start-page-section4-team-title {
    font-size: 16px;
    line-height: 1.19em;
    letter-spacing: 0.03em;
}

.main-start-page-section4-team-position {
    font-size: 16px;
    line-height: 1.19em;
    letter-spacing: 0.03em;
    color: var(--gray-color);
}

ul {
    list-style-type: none;
}