body {
    font-family: "Roboto", sans-serif;
    color: rgb(21, 21, 21);
}

.header-nav a {
    color: rgb(21, 21, 21);
}

.header-contact {
    color: rgb(117, 117, 117);
}

.header a,
.footer a {
    text-decoration: none;
}

a.active,
a:hover {
    color: rgb(33, 150, 243);
}

button {
    color: rgb(21, 21, 21);
    background-color: rgb(245, 244, 250);
    border: none;
    cursor: pointer;
}

button:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(33, 150, 243);
}

button:focus,
a:focus {
    color: rgb(255, 255, 255);
    background-color: rgb(33, 150, 243);
}

.header-logo-blue {
    color: rgb(33, 150, 243);
}

.footer-logo-blue {
    color: rgb(33, 150, 243);
}

.header-logo-black {
    color: rgb(0, 0, 0);
}

.footer-logo-white {
    color: rgb(255, 255, 255);
}

.logo {
    font-size: 26px;
    letter-spacing: 0.03em;
    line-height: 1.19em;
    font-family: 'Raleway';
}

.main-filtr-button {
    font-size: 16px;
    line-height: 1.63em;
    letter-spacing: 0.03em;
}

.main-filtr-list-title {
    font-size: 18px;
    line-height: 2em;
    letter-spacing: 0.06em;
}

.main-filtr-list-type {
    color: rgb(117, 117, 117);
    font-size: 16px;
    line-height: 1.88em;
    letter-spacing: 0.03em;
}

.footer {
    background-color: rgb(47, 48, 58);
}

.footer-contact {
    color: rgb(255, 255, 255);
}

.footer-contact a {
    color: rgb(255, 255, 255);
    opacity: 0.6;
}

.footer-contact a:hover {
    color: rgb(33, 150, 243);
}

.main-start-page-section1 {
    background-color: rgb(47, 48, 58);
}

.main-start-page-section1-title {
    color: rgb(255, 255, 255);
    font-size: 44px;
    line-height: 1.36em;
    letter-spacing: 0.06em;
}

.main-start-page-section1-button {
    font-size: 16px;
    line-height: 1.88em;
    letter-spacing: 0.06em;
    color: rgb(255, 255, 255);
    background-color: rgb(33, 150, 243);
}

.main-start-page-section2-lorem-title {
    font-size: 14px;
    line-height: 1.14em;
    letter-spacing: 0.03em;
}

.main-start-page-section2-lorem-description {
    font-size: 14px;
    line-height: 1.71em;
    letter-spacing: 0.03em;
    color: rgb(117, 117, 117);
}

.main-start-page-section3-img-title {
    font-size: 36px;
    line-height: 1.17em;
    letter-spacing: 0.03em;
}

.main-start-page-section4-team-name {
    font-size: 36px;
    line-height: 1.17em;
    letter-spacing: 0.03em;
}

.main-start-page-section4-team-title {
    font-size: 16px;
    line-height: 1.19em;
    letter-spacing: 0.03em;
}

.main-start-page-section4-team-position {
    font-size: 16px;
    line-height: 1.19em;
    letter-spacing: 0.03em;
    color: rgb(117, 117, 117);
}

ul {
    list-style-type: none;
}